:root {
    --primary-color: #033058;
    --secondary-color: #fcde92;
    --accent1-color: #fcde92;
    --accent2-color: #2a5c27;

    --heading-font: 'Permanent Marker';
    --paragraph-font: 'Roboto Serif';

    --nav-background-color: #fcde92;
    --nav-link-color: #033058;
    --nav-hover-link-color: #e68723;
    --nav-hover-background-color: #e68723;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--nav-background-color);
    color: #fff;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-area: header;
}

header img {
    max-width: 100%;
    height: auto;
}

nav a {
    color: var(--nav-link-color);
    margin: 0 10px;
    text-decoration: none;
    font-family: 'Roboto Serif';
}

body {
    display: grid;
    grid-template-areas:
        'header header header'
        'information information information'
        'form form form'
        'footer footer footer';
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100vh;
}

main {
    grid-area: form;
}

.map {
    grid-area: map;
    height: auto;
    max-width: 100%;
}

.contact {
    grid-area: contact;
    font-family: 'Permanent Marker';
    color: steelblue;
    font-size: 15px;
    padding-top: 15px;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #2a5c27;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: #fcde92;
    font-size: 1.3em;
}

label,
input,
button,
select,
textarea {
    font-family: 'Permanent Marker';
}

label {
    text-align: right;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    margin: 1rem;
    background-color: #fcde92;
    color: steelblue;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: #2a5c27;
}

.employee-images {
    grid-area: images;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Align items to the right */

    @media (min-width: 768px) {
        flex-direction: row;
        /* Change to a row layout on larger screens */
        justify-content: flex-end;
        /* Align items to the right in a row layout */
    }
}

.firstemployee,
.other-employees {
    text-align: center;
    margin-right: 10px;
    /* Add some margin between the images */
}

.firstemployee img,
.other-employees img {
    width: 100%;
    height: auto;
    max-height: 150px;
    margin: 5px;
}

.employee-title {
    font-family: 'Permanent Marker';
    color: steelblue;
    margin-top: 5px;
}

footer {
    grid-area: footer;
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}