:root {
    --primary-color: #033058;
    --secondary-color: #fcde92;
    --accent1-color: #fcde92;
    --accent2-color: #2a5c27;

    --heading-font: 'Permanent Marker';
    --paragraph-font: 'Roboto Serif';

    --nav-background-color: #fcde92;
    --nav-link-color: #033058;
    --nav-hover-link-color: #e68723;
    --nav-hover-background-color: #e68723;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--nav-background-color);
    color: #fff;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-area: header;
}

header img {
    max-width: 100%;
    height: auto;
}

nav a {
    color: var(--nav-link-color);
    margin: 0 10px;
    text-decoration: none;
    font-family: 'Roboto Serif';
}

body {
    display: grid;
    grid-template-areas:
        'header header header'
        'information information information'
        'map form images'
        'footer footer footer';
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100vh;
}

main {
    grid-area: form;
}

.information {
    grid-area: information;
}

.map {
    grid-area: map;
    max-width: 100%;
}

form {
    grid-area: form;
    width: 80%;
    /* Adjust the width as needed */
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #2a5c27;
}

.employee-images {
    grid-area: images;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.firstemployee,
.other-employees {
    text-align: center;
    margin-right: 10px;
}

.firstemployee img,
.other-employees img {
    width: 50%;
    height: auto;
    max-height: 150px;
    margin: 5px;
}

.employee-title {
    font-family: 'Permanent Marker';
    color: steelblue;
    margin-top: 5px;
}

footer {
    grid-area: footer;
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

@media (min-width: 768px) {
    body {
        grid-template-areas:
            'header header header'
            'information information information'
            'map form images'
            'footer footer footer';
    }
}