@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Serif&display=swap');

:root {
    --primary-color: navy;
    --secondary-color: #fdf3d3;
    --accent1-color: #fdf3d3;
    --accent2-color: #2a5c27;

    --heading-font: 'Permanent Marker';
    --paragraph-font: 'Roboto Serif';

    --nav-background-color: #2a5c27;
    --nav-link-color: #FDF3D3;
    --nav-hover-link-color: #e68723;
    --nav-hover-background-color: #e68723;
}

body {
    font-family: var(--paragraph-font), sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
}

header {
    background-color: var(--nav-background-color);
    color: #2a5c27;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-area: header;
}

header img {
    max-width: 100%;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--nav-link-color);
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: var(--nav-hover-link-color);
}

main {
    padding: 20px;
}

.about-us-heading {
    text-align: center;
    margin-bottom: 20px;
}

.about-us-heading p {
    font-size: 1.5em;
    color: var(--primary-color);
    border-bottom: 2px solid steelblue;
    padding-bottom: 5px;
    display: inline-block;
}

.employee-images {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.firstemployee {
    text-align: center;
}

.firstemployee img {
    max-width: 100%;
    height: auto;
    width: 50%;
}

.employee-title {
    margin-bottom: 5px;
    font-size: 0.9em;
}

.information h1,
.information h3,
.information h4 {
    color: var(--primary-color);
}

.map {
    margin-top: 20px;
}

form {
    width: auto;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: orange;
}


fieldset {
    border: 2px solid var(--primary-color);
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
}

.form-item {
    margin-bottom: 15px;
}

.column2 {
    grid-column: span 2;
}

.radio {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: var(--nav-hover-background-color);
}

.employee-images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.employee-title {
    text-align: center;
    margin-top: 5px;
    font-size: 0.9em;
}

footer {
    background-color: var(--nav-background-color);
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.sociallinks {
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    color: steelblue;
}

.sociallinks a:focus {
    border: none;
    outline: none;

}