@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Serif&display=swap');

:root {
    --primary-color: navy;
    --secondary-color: #fdf3d3;
    --accent1-color: #fdf3d3;
    --accent2-color: #2a5c27;

    --heading-font: 'Permanent Marker';
    --paragraph-font: 'Roboto Serif';

    --nav-background-color: #2a5c27;
    --nav-link-color: #FDF3D3;
    --nav-hover-link-color: #e68723;
    --nav-hover-background-color: #e68723;
}

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
img {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Serif', serif;
    text-align: center;
    background-color: beige;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    border-bottom: 2px solid orange;
    color: navy;
    padding-bottom: 10px;
}

.family_image {
    padding-top: 40px;
    padding-bottom: 20px;
    border: 2px solid navy;
    background: steelblue;
    margin: 10px;
}

form {
    margin: 10px;
    border: 2px solid #2a5c27;
    background-color: #e68723;
}

.item-description {
    padding: 20px;
    margin: 10px;
    font-size: 25px;
}

.contact {
    border: 2px solid navy;
    padding: 20px;
    margin: 10px;
    background: #2a5c27;
}

.button {
    background-color: #FDF3D3;
    color: beige;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px;
}

.button:hover {
    background-color: navy;
}

header {
    background-color: var(--nav-background-color);
    color: #2a5c27;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-area: header;
}

header img {
    max-width: 100%;
    height: auto;
}

nav a {
    color: var(--nav-link-color);
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: beige;
    justify-content: center;
}

section p {
    line-height: 1.6;
}

.sociallinks {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.sociallinks a {
    margin: 0 10px;
    text-decoration: none;
    border-bottom: none;
    border: none;
    outline: none;
}

.sociallinks img {
    width: 30px;
    height: 30px;
}

.history-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1,
h2,
h3 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.image-container {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.text-container {
    grid-column: span 2;
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: #2a5c27;
    color: #fff;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.footer-grid img {
    width: 100%;
    height: auto;
    border: 2px solid navy;
}

footer {
    background-color: var(--nav-background-color);
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}