@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Serif&display=swap');

:root {
    --primary-color: #033058;
    --secondary-color: #fdf3d3;
    --accent1-color: #fdf3d3;
    --accent2-color: #2a5c27;

    --heading-font: 'Permanent Marker';
    --paragraph-font: 'Roboto Serif';

    --nav-background-color: #2a5c27;
    --nav-link-color: #FDF3D3;
    --nav-hover-link-color: #e68723;
    --nav-hover-background-color: #e68723;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Serif', serif;
    text-align: center;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

header {
    background-color: var(--nav-background-color);
    color: #fff;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

header img {
    max-width: 100%;
    height: auto;
}

nav a {
    color: var(--nav-link-color);
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    text-align: center;
    color: #fff;
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

article img {
    float: right;
}

section {
    margin-top: 20px;
}

h2 {
    color: var(--primary-color);
    justify-content: center;
}

section p {
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.sociallinks {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.sociallinks a {
    margin: 0 10px;
    text-decoration: none;
    border-bottom: none;
}

.sociallinks img {
    width: 30px;
    height: 30px;
}

.history-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.adventures-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.adventure-figure {
    text-align: center;
    margin: 10px;
    height: 500px;
    margin-bottom: 20px;
}

.adventure-img {
    max-width: 100%;
    height: auto;
    justify-content: center;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
    color: black
}

.adventure-figure img {
    max-width: 200px;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

.adventures-section h3 {
    text-align: center;
}

h3 {
    color: #033058;
    justify-content: center;
    text-align: center;
}