@import URL('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Serif&display=swap');

:root {
    --primary-color: #033058;
    --secondary-color: #fcde92;
    --accent1-color: #fcde92;
    --accent2-color: #2a5c27;

    --heading-font: 'Permanent Marker';
    --paragraph-font: 'Roboto Serif';

    --nav-background-color: #fcde92;
    --nav-link-color: #033058;
    --nav-hover-link-color: #e68723;
    --nav-hover-background-color: #e68723;
}