@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Serif&display=swap');

:root {
    --primary-color: navy;
    --secondary-color: #fdf3d3;
    --accent1-color: #fdf3d3;
    --accent2-color: #2a5c27;

    --heading-font: 'Permanent Marker';
    --paragraph-font: 'Roboto Serif';

    --nav-background-color: #2a5c27;
    --nav-link-color: #FDF3D3;
    --nav-hover-link-color: #e68723;
    --nav-hover-background-color: #e68723;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
    margin: 0;
    padding: 0;
}

h1 {
    border-bottom: 2px solid orange;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: navy;
}

body {
    font-family: var(--paragraph-font), serif;
    text-align: center;
    background-color: beige;
}

header {
    background-color: var(--nav-background-color);
    color: #2a5c27;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-area: header;
}

header img {
    max-width: 100%;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: var(--nav-link-color);
    padding: 10px;
    margin: 0 20px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: var(--nav-hover-link-color);
}

main {
    padding: 20px;
}

.trip_1,
.trip_2,
.trip_3,
.table,
.contact {
    margin-bottom: 20px;
}

.trip_1,
.trip_2,
.trip_3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trip_1 img,
.trip_2 img,
.trip_3 img {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    margin-right: 10px;
}

.trip-text {
    text-align: center;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid var(--primary-color);
    padding: 10px;
    background: orange;
    color: navy;
}

.button-container {
    margin-top: 20px;
}

button {
    font-family: var(--paragraph-font);
    color: navy;
    background-color: var(--accent1-color);
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: var(--accent2-color);
}

footer {
    background-color: var(--nav-background-color);
    color: #fff;
    text-align: center;
    padding: 10px;
}

.sociallinks a {
    margin: 0 10px;
}

.sociallinks img {
    max-width: 30px;
    height: auto;
}